<div class="form-container">
    <nz-page-header nzTitle="Add Sales " nzSubtitle="Create new entry">
        <!-- <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb>
        </nz-breadcrumb> -->
    </nz-page-header>
    <!-- BEGIN :: FORM SECTION -->
    <form nz-form nzLayout="vertical" [formGroup]="form" class="ant-advanced-search-form">
        <div formGroupName="salesMaster" nz-row nzGutter="24">
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Bill No.</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="Bill no." formControlName="billNo" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Save Date</nz-form-label>
                    <nz-form-control>
                        <input readonly nz-input placeholder="Date" formControlName="saveDate" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Pay Type </nz-form-label>
                    <nz-select nz-input placeholder="Select pay type" formControlName="payTypeId">
                        @for (item of payTypeSignal(); track $index) {
                        <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                        }

                    </nz-select>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Customer </nz-form-label>
                    <nz-select readonly nz-input placeholder="Select pay type" formControlName="customerId">
                        @for (item of customerListSignal(); track item.customerId) {
                        <nz-option [nzValue]="item.customerId" [nzLabel]="item.name"></nz-option>
                        }

                    </nz-select>
                </nz-form-item>
            </div>
            <!-- <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Ref Type </nz-form-label>
                    <nz-select nz-input placeholder="Select pay type" formControlName="refType">
                        @for (item of customerListSignal(); track $index) {
                        <nz-option [nzValue]="item" [nzLabel]="item.name"></nz-option>
                        }

                    </nz-select>
                </nz-form-item>
            </div> -->
            <!-- @if(mode =='add') {
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Supplier </nz-form-label>
                    <nz-select nz-input placeholder="Select supplier" formControlName="supplierId">
                        @for (item of supplierListSignal(); track item.supplierId) {
                        <nz-option [nzValue]="item.supplierId" [nzLabel]="item.supplierName"></nz-option>
                        }
                    </nz-select>
                </nz-form-item>
            </div>
            }
            @if(mode =='edit') {
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Supplier </nz-form-label>
                    <nz-select nz-input placeholder="Select supplier" nzDisabled formControlName="supplierId">
                        @for (item of supplierListSignal(); track item.supplierId) {
                        <nz-option [nzValue]="item.supplierId" [nzLabel]="item.supplierName"></nz-option>
                        }
                    </nz-select>
                </nz-form-item>
            </div>
            } -->

            <!-- <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="4">
                <nz-form-item>
                    <nz-form-label>Total Amount</nz-form-label>
                    <nz-form-control>
                        <input class="totalAmount" 
                         nz-input placeholder="Total Amount"
                            [value]="totalAmountSignal()" />
                    </nz-form-control>
                </nz-form-item>
            </div> -->
            <div nz-col [nzSpan]="24" [nzMd]="8" [nzLg]="8">
                <nz-form-item>
                    <nz-form-label>Remarks</nz-form-label>
                    <nz-form-control>
                        <textarea nzAutosize rows="4" nz-input placeholder="Remarks"
                            formControlName="remarks"></textarea>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- formarray -->
        </div>
        <nz-divider></nz-divider>


        <div formArrayName="selectedStockList">
            <div *ngFor="let skill of inventoryList.controls let i=index">
                <div [formGroupName]="i">
                    <div nz-row nzGutter="16">
                        <!-- ITEM -->
                        <div nz-col nzXs="24" nzMd="8" nzLg="6">
                            <nz-form-item>
                                <nz-form-label>Item</nz-form-label>
                                <nz-select nzShowSearch nzPlaceHolder="Select product" formControlName="medicine"
                                    (ngModelChange)="onProductSelect(i)">
                                    @for (item of inventoryListSignal(); track item.stockMasterId) {
                                    <nz-option [nzValue]="item" [nzLabel]="item.name"></nz-option>
                                    }
                                </nz-select>
                            </nz-form-item>
                        </div>

                        <!-- QTY -->
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Qty.</nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="number" min="0" formControlName="qty"
                                        (input)="onValueChange(i)" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <!-- RATE -->
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Rate</nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="number" min="1" formControlName="pricePerUnit"
                                        (input)="onValueChange(i)" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Total</nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="number" min="1" formControlName="totalAmt" readonly />
                                </nz-form-control>
                            </nz-form-item>
                        </div>


                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Dis. %</nz-form-label>
                                <nz-form-control>
                                    <input type="number" nz-input formControlName="disPercent"
                                        (focus)="setLastEdited('disPercent')" (blur)="onValueChange(i)" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Dis. Amt.</nz-form-label>
                                <nz-form-control>
                                    <input type="number" nz-input formControlName="discountAmt"
                                        (focus)="setLastEdited('discountAmt')" (blur)="onValueChange(i)" />

                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- TAXABLE -->
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Taxable</nz-form-label>
                                <nz-form-control>
                                    <input nz-input min="0" readonly formControlName="taxableAmt" readonly />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <!-- TAX -->
                        <div nz-col nzXs="12" nzMd="4" nzLg="2">
                            <nz-form-item>
                                <nz-form-label>Tax Amt.</nz-form-label>
                                <nz-form-control>
                                    <input readonly nz-input formControlName="taxAmt" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <!-- NET -->
                        <div nz-col nzXs="24" nzMd="6" nzLg="3">
                            <nz-form-item>
                                <nz-form-label>Net Amt.</nz-form-label>
                                <nz-form-control>
                                    <input nz-input formControlName="netAmt" readonly
                                        (keydown.enter)="onEnterKeyPress(i)" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!-- END :: FORM SECTION -->

    <!-- BEGIN :: TABLE SECTION -->
    <!-- Table to Display Inventory List -->
    <nz-table #basicTable [nzBordered]="true" [nzData]="selectedItemsListSignal()" [nzSize]="'middle'"
        [nzShowPagination]="'false'">
        <thead>
            <tr>
                <th nzWidth="3%">Sn.</th>
                <th nzWidth="20%">Item</th>
                <th nzWidth="5%">Qty</th>
                <th nzWidth="5%">Rate</th>
                <th nzWidth="5%">Total</th>
                <th nzWidth="5%">Dis. %</th>
                <th nzWidth="5%">Dis. Amt</th>
                <th nzWidth="5%">Taxable Amt</th>

                <th nzWidth="5%">Tax Amt</th>
                <th nzWidth="10%">Net Amt</th>
                <th nzWidth="10%">Table Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (row of selectedItemsListSignal(); track $index ; ) {
            <tr>
                <td>{{ $index+1 }}.</td>
                <td>{{ row.name }}</td>
                <td>{{ row.qty }}</td>
                <td>{{ row.pricePerUnit }}</td>
                <td>{{ row.totalAmt |number :'1.1-2'}}</td>
                <td>{{ row.disPercent|number :'1.2-2' }}</td>
                <td>{{ row.discountAmt|number :'1.2-2' }}</td>
                <td>{{ row.taxableAmt|number :'1.2-2' }}</td>

                <td>{{ row.taxAmt|number :'1.2-2' }}</td>
                <td>{{ row.transAmount|number :'1.2-2' }}</td>
                <td>
                    <lib-table-action-buttons [showDeleteButton]="true" [showDeleteButton]="true" (edit)="onEdit(row)"
                        (delete)="onDelete(row.stockMasterId)" />
                </td>

            </tr>
            }
        </tbody>
        <tfoot nzSummary>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-bold"> <strong>
                        Total
                    </strong></td>
                <td>
                    <span nz-typography nzType=" danger">
                        <strong>{{ totalAmountSignal() | number :'1.2-2' }}</strong>
                    </span>
                </td>

            </tr>

        </tfoot>
    </nz-table>
    <!-- <lib-form-submit-buttons [showSecondaryButton]="false" [secondaryButtonLabel]="'Cancel'" (primaryAction)="onSave()"
        (secondaryAction)="onCancel()" /> -->
    <nz-divider></nz-divider>

    <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
        <nz-space nzSize="middle">
            <button *nzSpaceItem nz-button nzType="default" (click)="onCancel()">
                Cancel
            </button>
            <button *nzSpaceItem nz-button nzType="primary" (click)="onSave()">
                <span nz-icon nzType="save" nzTheme="outline"></span>
                Save
            </button>
        </nz-space>
    </div>
    <!-- END :: TABLE SECTION -->

</div>