<nz-page-header [nzGhost]="false" class="enterprise-table-header">
    <nz-page-header-extra>
        <form nz-form [formGroup]="form" nzLayout="vertical" class="toolbar-form">
            <div class="toolbar-container">

                <div class="inputs-group">
                    @if (showSearch()) {
                    <div class="field-item search-box">
                        <nz-form-item>
                            <nz-form-label>Search</nz-form-label>
                            <nz-form-control>
                                <nz-input-group nzPrefixIcon="search">
                                    <input nz-input formControlName="search" [placeholder]="placeholder()" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }

                    @if (showSelector1()) {
                    <div class="field-item">
                        <nz-form-item>
                            <nz-form-label>{{ selector1Label() }}</nz-form-label>
                            <nz-form-control>
                                <nz-select [formControlName]="selector1Key()" [nzPlaceHolder]="selector1Label()"
                                    nzAllowClear nzShowSearch>
                                    @for (option of selector1Options(); track option[option1ValueKey()]) { <nz-option
                                        [nzValue]="option[option1LabelKey()]"
                                        [nzLabel]="option[option1LabelKey()]"></nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }@if (showSelector2()) {
                    <div class="field-item">
                        <nz-form-item>
                            <nz-form-label>{{ selector2Label() }}</nz-form-label>
                            <nz-form-control>
                                <nz-select [formControlName]="selector2Key()" [nzPlaceHolder]="selector2Label()"
                                    nzAllowClear nzShowSearch>
                                    @for (option of selector2Options(); track option[option2ValueKey()]) { <nz-option
                                        [nzValue]="option[option2ValueKey()]"
                                        [nzLabel]="option[option2LabelKey()]"></nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }

                    @if (showFromDate()) {
                    <div class="field-item date-input">
                        <nz-form-item>
                            <nz-form-label>From Date (B.S)</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="fromDate" placeholder="2082/01/01" appBsDateInput />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }

                    @if (showToDate()) {
                    <div class="field-item date-input">
                        <nz-form-item>
                            <nz-form-label>To Date (B.S)</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="toDate" placeholder="2082/01/01" appBsDateInput />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }
                </div>

                <div class="actions-group">
                    <nz-space [nzSize]="6">
                        @if (showButtons()) {
                        <button *nzSpaceItem type="button" nz-button nzType="primary" (click)="emitFilters()">
                            <span nz-icon nzType="search"></span> Search
                        </button>
                        }

                        @if (showExportButton()) {
                        <button *nzSpaceItem type="button" nz-button nzType="default" (click)="export.emit($event)">
                            <span nz-icon nzType="file-excel"></span> Export
                        </button>
                        }

                        @if (showSecondaryButton()) {
                        <button *nzSpaceItem type="button" nz-button nzType="default"
                            (click)="secondaryButtonClick.emit($event)">
                            <span nz-icon [nzType]="secondaryButtonIcon()"></span> {{secondaryButtonLabel()}}
                        </button>
                        }

                        @if (showTertiaryButton()) {
                        <button *nzSpaceItem type="button" nz-button nzType="default"
                            (click)="tertiaryButtonClick.emit($event)">
                            <span nz-icon [nzType]="tertiaryButtonIcon()" nzTheme="outline"></span> {{
                            tertiaryButtonLabel() }}
                        </button>
                        }

                        @if (showAddButton()) {
                        <button *nzSpaceItem type="button" nz-button nzType="primary" (click)="add.emit(0)"
                            class="add-button">
                            <span nz-icon [nzType]="primaryButtonIcon()" nzTheme="outline"></span> {{
                            primaryButtonLabel() }}
                        </button>
                        }
                    </nz-space>
                </div>
            </div>
        </form>
    </nz-page-header-extra>
</nz-page-header>