<!-- <nz-button-group> -->
<!-- <nz-space>
    @if (showEditButton()) {

    <button nz-tooltip [nzTooltipTitle]="button1Label()" nzTooltipPlacement="bottomLeft" *nzSpaceItem nz-button
        (click)="edit.emit($event)">
        <nz-icon [nzType]="button1Icon()" />
    </button>
    }
    @if (showDeleteButton()) {
    <button nz-tooltip [nzTooltipTitle]="button2Label()" *nzSpaceItem nz-button nzType="default" nzDanger nz-popconfirm
        nzPopconfirmTitle="Are you sure you want to delete?" [nzCancelText]="'Cancel'" [nzOkText]="'Yes'"
        (nzOnConfirm)="confirm($event)" (nzOnCancel)="cancel()">
        <nz-icon [nzType]="button2Icon()" />

    </button>
    }

    @if (showButton4()) {
    <button nz-tooltip [nzTooltipTitle]="button4Label()" *nzSpaceItem nz-button nzType="default"
        (click)="onButton4Click($event)">
        <nz-icon [nzType]="button4Icon()" />
    </button>
    }
    @if (showViewMoreButton()) {
    <button nz-tooltip [nzTooltipTitle]="button3Label()" *nzSpaceItem nz-button nzType="default"
        (click)="onViewMore($event)">
        <nz-icon [nzType]="button3Icon()" />
    </button>
    }
    @if (showButton5()) {
    <button nz-tooltip [nzTooltipTitle]="button5Label()" *nzSpaceItem nz-button nzType="default"
        (click)="onButton5Click($event)">
        <nz-icon [nzType]="button5Icon()" />
    </button>
    }
</nz-space> -->
<!-- </nz-button-group> -->
<div class="action-row-container">
    <nz-space [nzSize]="4">
        @if (showEditButton()) {
        <button *nzSpaceItem nz-button nzType="text" nzSize="small" nz-tooltip [nzTooltipTitle]="button1Label()"
            (click)="edit.emit($event)">
            <nz-icon [nzType]="button1Icon()" class="icon-edit" />
        </button>
        }

        @if (showViewMoreButton()) {
        <button *nzSpaceItem nz-button nzType="text" nzSize="small" nz-tooltip [nzTooltipTitle]="button3Label()"
            (click)="onViewMore($event)">
            <nz-icon [nzType]="button3Icon()" class="icon-view" />
        </button>
        }

        @if (showButton4()) {
        <button *nzSpaceItem nz-button nzType="text" nzSize="small" nz-tooltip [nzTooltipTitle]="button4Label()"
            (click)="onButton4Click($event)">
            <nz-icon [nzType]="button4Icon()" />
        </button>
        }

        @if (showButton5()) {
        <button *nzSpaceItem nz-button nzType="text" nzSize="small" nz-tooltip [nzTooltipTitle]="button5Label()"
            (click)="onButton5Click($event)">
            <nz-icon [nzType]="button5Icon()" />
        </button>
        }

        @if (showDeleteButton()) {
        <button *nzSpaceItem nz-button nzType="text" nzSize="small" nzDanger nz-popconfirm
            nzPopconfirmTitle="Are you sure?" nz-tooltip [nzTooltipTitle]="button2Label()"
            (nzOnConfirm)="confirm($event)">
            <nz-icon [nzType]="button2Icon()" />
        </button>
        }
    </nz-space>
</div>