<section>
    <div>
        <div class="table-operations">
            <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                <input [(ngModel)]="searchValue" type="text" nz-input placeholder="Search staff... " />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template> -->
            <!-- <button nz-button nzType="default" (click)="onSearch()">
        <span nz-icon nzType="search"></span>
        Search
      </button> -->
            <!-- @if (setList$ | async; as set) {
        } -->
            <!-- <button
        class="action-button"
        nzDanger
        nz-button
        nzType="primary"
        routerLinkActive
        (click)="onAdd()"
      >
        Add
      </button> -->
            <!-- <button class="action-button" nz-button nzType="primary" (click)="onAdd()">
                Add
            </button> -->
        </div>
    </div>
    <div class="enterprise-table-wrapper">
        @if (data$ | async; as table) {
        <nz-table #borderedTable [nzData]="table" [nzFrontPagination]="true" [nzPageSize]="10" nzSize="middle"
            [nzScroll]="{ x: '1100px' }">
            <thead>
                <tr>
                    <th nzLeft nzWidth="60px" nzAlign="center">Sn.</th>
                    <th nzLeft nzWidth="200px">Customer Name</th>
                    <th nzWidth="200px">Business Name</th>
                    <th nzWidth="150px">Ordered By</th>
                    <th nzWidth="100px" nzAlign="center">Qty.</th>
                    <th nzWidth="150px">Order Date</th>
                    <th nzRight nzWidth="100px" nzAlign="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (data of borderedTable.data; track data.orderId; let i = $index) {
                <tr class="enterprise-row">
                    <td nzLeft nzAlign="center" class="num-mono text-muted">
                        {{ (borderedTable.nzPageIndex - 1) * borderedTable.nzPageSize + (i + 1) }}
                    </td>

                    <td nzLeft class="sticky-col-main">
                        {{ data.customerName | titlecase }}
                    </td>

                    <td>
                        <span class="business-text">{{ data.businessName | titlecase }}</span>
                    </td>

                    <td>
                        <div class="ordered-by-tag">
                            <span nz-icon nzType="user"></span>
                            {{ data.orderByName | titlecase }}
                        </div>
                    </td>

                    <td nzAlign="center">
                        <span class="qty-badge">{{ data.qty | number }}</span>
                    </td>

                    <td class="num-mono date-cell">
                        {{ data.orderDate }}
                    </td>

                    <td nzRight nzAlign="center">
                        <div class="action-bundle">
                            <button nz-button nzType="text" (click)="onViewDetails(data.customerId, data.orderById)"
                                nz-tooltip nzTooltipTitle="View Order Details">
                                <span nz-icon nzType="eye" class="view-icon"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </nz-table>
        }
    </div>
</section>