@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import 'assets/scss/variables';


/* You can add global styles to this file, and also import other style files */
// Target only our custom disabled input

.nz-input[disabled],
input[disabled] {
    background-color: lighten($color: $blue, $amount: 35%); // light gray
    // border: 1px $blue; // dashed border to show it's readonly
    font-weight: 500; // slightly bold so it's readable
    cursor: not-allowed;
    transition: all 0.2s ease;

    // &:hover {
    //     background-color: #f5f5f5;
    // }

    // &::placeholder {
    //     color: #bfbfbf;
    //     font-style: italic;
    // }
}

// Responsive adjustments (if inside smaller screen form layout)
@media (max-width: 768px) {

    .nz-input[disabled],
    input[disabled] {
        font-size: 14px;
        padding: 10px;
    }
}




/* Targets all readonly nz-input fields */
input[readonly].ant-input,
textarea[readonly].ant-input {
  background-color: #f5f5f5;  /* Gray background like disabled */
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.65);
  cursor: not-allowed;
}

/* Targets NZ-Zorro number inputs (nz-input-number) */
.ant-input-number[readonly] {
  background-color: #f5f5f5;

  .ant-input-number-input {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-input-number-handler-wrap {
    display: none; /* hide increment/decrement buttons */
  }
}



